body{
    margin: 0;
    padding: 0;
    background: black
} 
.HeaderNadpis{
    font-size: 60px;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-style: oblique;
    color: beige;
    height: auto;
    border: none;
    padding-top: 40px;
    padding-bottom: 40px;
    top: -5px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
        
}
.HeaderLogo{
    background-image: url(./pictures/bilelogo.png);
    background-repeat: no-repeat;
    top: -25px;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    text-indent: -9999px;
    transition-duration: 1s;
    background-size: cover;
}
.HeaderLogo:hover{
    background-image: url(./pictures/cernelogo.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    text-indent: -9999px;
    transition-duration: 0,01s;
    padding: 10px;
    border-radius: 25px;
    background-color: white;
}
ul{
    display: flex;
    justify-content: space-evenly;
    top: -50px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    display: inline-block;
    margin-top: auto;
    top: -50px;
}
.Uvod{
    height: 250px;
    display: flex;
    background-image: url(./pictures/coll.png);
    background-repeat: no-repeat;
    background-size:cover;
    padding-bottom: 50px;
}
.Uvod::before{
    opacity: 0.2;
}
.UvodNadpis{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 120px;
    text-decoration-line: overline underline;
    position: relative;
    text-align: center;
    text-shadow: black 10px 10px 10px;
    font-weight: bold;
    top: -20px;
    color: rgb(255, 255, 255);
}
section{
    height: max-content;
    color:white;
    display: flex;
    flex-direction: column;
    font-size: 55px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.SekceDIV{
    padding-top: 30px;
    padding-bottom: 80px;
}
.Tlacidlo{
    transition-duration: 1,0s;
    color: rgb(200, 255, 255);
    background-color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 20;
    border-radius: 25px;
    border: 5px solid white;
    display: flex;
    opacity: 0.8;
}
.Tlacidlo::after{
    content: "Tell me more";
}
.Tlacidlo:hover::after{
    content: "Tell me more >>";
    opacity: 1;
}
.Tlacidlo:hover{
    transition-duration: 1s;
    background-color: aliceblue;
    color: black;
    border: 5px solid black;
    font-size: 45px;
    padding: 2,5rem;
    opacity: 1;
    content: "Tell me more >>";
}
.Tlacidlo:not(:hover){
    transition-duration: 1s;
}
.TlacLevo{
    display: flex;
    position: relative;
    left: 120px;
}
.TlacPravo{
    align-self: right;
    position: relative;
    display: flex;
    left: 70%;
}
footer{
    background-color: #000000;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
    height: auto;
    padding-top: 10px;
    padding-bottom: 70px;
}
a:link{
    text-decoration: none;
    transition-duration: 1s;
}
a:visited{
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: white;
    color: #000000;
    padding: 10px;
    border-radius: 25px;
    transition-duration: 0,01s;
}
a:active{
    background-color: rgb(0, 200, 255);
    color: #000000;
}
.socials{
    background-color: #000000;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
    height: 50px;
    padding-top: 10px;
    text-align: center;
}
.Nadpis{
    position: relative;
    font-size: 70px;
    text-decoration: underline overline;
    text-shadow: #000000 6px 4px 6px;
    font-weight: bold;
}
.NadpisLevo{
    text-align: left;
    padding-left: 105px;
}
.NadpisPravo{
    text-align: right;
    right: 105px;
}
.Text{
    text-align: left;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    text-shadow: #000000 4px 4px 4px;
 }
.TextLevo{
    text-align: left;
    justify-content: left;
    padding-left: 105px;
}
.TextPravo{
    text-align: right;
    justify-content: right;
    padding-right: 105px;
}
.Obrazek{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
}
.welcome{
    background-image: url(./pictures/welcome1.png);
    padding-top: 20px;
    background-position: left;
}
.welcome::before{
    opacity: 0.5;
}
.puzzles{
    background-image: url(./pictures/puzzles.png);
    background-position: left;
    background-position-x: 0px;
}
.smart-games{
    background-image: url(./pictures/sg.png);
    background-position: left;
    background-position-x: -250px;
    height: max-content;

}
.me{
    background-image: url(./pictures/me.jpg);
    background-position-y: 25%;
    padding-bottom: 100px;
    
}
.Logo{
    width: 42px;
    height: 42px;
}
